<div class="container-fluid">
  <h1>All Users</h1>

  <table class="table">
    <thead>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Email</td>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <tr>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.email %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>