<div class="container home">
  <div class="row">
    <div class="col pad-top-20">
      <header>
        <h2>Scheduling For Professionals</h2>
        <p>
          A simple, attractive, and automated solution for scheduling.<br />
          Small, medium or large, no matter the size of your business,<br />
          <b>Zeiter is for you</b>.
        </p>
      </header>


    </div>
  </div>
</div>
