/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand|Montserrat:300,500');

// Global Variables
$accent-color: #5E35B1;

.navbar {
  margin-top: -15px;
}

#navbar a:hover {
  color: $accent-color;
}
#navbar #logo {
  font-family: 'Just Another Hand', cursive;
  font-size: 4.1em;
  color: #212121;
}

.btn-secondary {
  background-color: #999999;
}

.pad-right-20 {
  padding-right: 20px;
}

.pad-top-20 {
  padding-top: 20px;
}

.pad-bottom-10 {
  padding-bottom: 10px;
}

#login-card a:hover {
  text-decoration: none;
}

.pad-left-20 {
  padding-left: 20px;
}

.home h1, h2, everyone {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: $accent-color;
  font-size: 2.5em;
  text-align: center;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1em;
  text-align: center;

}