/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "search";

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500');
@import url('https://fonts.googleapis.com/css?family=Asap+Condensed:500');

// Global Variables
$accent-color: #5E35B1;

.navbar {
  margin-top: -10px;
}

#navbar a:hover {
  color: $accent-color;
}

#navbar #logo {
  font-family: 'Asap Condensed', sans-serif;
  font-size: 2.75em;
  font-weight: 500;

}

#logo a {
  text-decoration: none;
  color: #212121;
}

body {
  font-size: 0.9em;
}

.navbar {
  margin-top: -10px;
  color: #212121;
}

.btn-secondary {
  background-color: #999999;
}

.pad-right-20 {
  padding-right: 20px;
}

.pad-top-20 {
  padding-top: 20px;
}

.pad-top-10 {
  padding-top: 10px;
}

.pad-bottom-10 {
  padding-bottom: 10px;
}

#login-card a:hover {
  text-decoration: none;
}

.pad-left-20 {
  padding-left: 20px;
}

.home h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: $accent-color;
  font-size: 2.35em;
  text-align: center;
}

.home p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1em;
  text-align: center;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: $accent-color;
  font-size: 2.35em;
  padding-bottom: 30px;
}

.hidden {
  display: none;
}